.headerclass {
    background-color: darkolivegreen;
    color: blanchedalmond;
    text-align: center;
}

.mainclass {
    background-color: lightgrey;
    padding: 1em;
}

body {
    background-image: url(./record.png);
    background-repeat: repeat;
    margin: 0%;
    padding: 0%;
}